body {
	background-color: burlywood;
	font-family: Georgia, serif;
}

header {
	text-align: center;
}

main {
	max-width: 800px;
	margin: 0 auto;
}

.board {
	border-collapse: collapse;
	margin-bottom: 20px;
}

.space {
	height: 80px;
	width: 80px;
	border: 12px solid navy;
	background-color: antiquewhite;
}

.space.empty {
	pointer-events: none;
}

.space.home {
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
}

.space.empty, .space.home {
	border: none;
	background-color: transparent;
}

.space.star {
	background-image: url(../images/star.svg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-origin: content-box,padding-box;
}

.space.valid {
	background-color: lightgreen;
}

.circle {
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.25);
	height: 80px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 80px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
	height: 50px;
  width: 50px;
	border-radius: 50%;
}

.piece.active {
	filter: drop-shadow(0 0 0.2rem green);
}

.piece.selectedPiece {
	border: 2px solid lightgreen;
}

.reserves .piece {
	display: inline-block;
	margin-left: 10px;
}

.space .piece {
	display: block;
	margin: 0 auto;
}

.piecesLabel {
	margin-bottom: 10px;
  font-size: 18px;
}

.reserves {
	margin-bottom: 20px;
  display: inline-block;
  padding-right: 10px;
  background-color: firebrick;
  padding: 10px 10px 10px 0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	min-width: 448px;
}

.p1 {
	background-color: dimgray;
  border: 2px solid black;
}

.p2 {
	background-color: black;
  border: 2px solid black;
}

span.die {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-origin: content-box,padding-box;
}

span.die-1 {
	background-image: url(../images/triangle_with_pip.svg);
}

span.die-0 {
	background-image: url(../images/triangle.svg);
}

.victoryOverlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
  padding-top: 400px;
  font-size: 3em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}